{% extends "base.html" %} <!--Uses base.html to generate header with link-->
{% block content %}
<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="../static/css/style.css">
	<title>The Tennis Club</title>
</head>

<body>
	{% if user.is_authenticated and is_member %}
	<header style="padding-top: 100px;">
		<h1>{{user.username}}'s Account Details</h1>
	</header>
	<main>
		<div class="accountbox">
			<h4>Full Name:</h4>
			<p>{{ user.memberprofile.first_name }} {{ user.memberprofile.last_name }} </p>
			<h4>Email Address:</h4>
			<p>{{ user.email }}</p>
			<h4>Phone Number:</h4>
			<p>{{ user.memberprofile.phone_number }}</p>
			<h4>Home Address:</h4>
			<p>{{ user.memberprofile.address }}</p>
			<h4>Date of Birth:</h4>
			<p>{{ user.memberprofile.date_of_birth }}</p>
			<h4>Account Created:</h4>
			<p>{{ user.date_joined }}</p>
		</div>
		<div class="infobox">
			<h4>My Reservations</h4>
			{% if user_reservation %}
			<p>You have a reservation on {{ user.reservation.date }} at {{ user.reservation.time }}, on Court {{ user.reservation.court }} with {{ user.reservation.number_of_players }} player(s)!</p>
			<h4>Cancel Your Reservation</h4>
			<a class="btn btn-primary" href="/cancel_reservation">Cancel</a>			
			{% else %}
			<p>You do not have any active reservations.</p>
			{% endif %}
			<h4>Account Settings</h4>
			{% if user.is_superuser %}
			<h4>System Permissions: Administrator</h4>
			{% elif user.is_staff %}
			<h4>System Permissions: Club Staff</h4>
			{% endif %}
			<a class="btn btn-primary" href="/change_password">Change Password</a>
		</div>
	</main>
	{% elif user.is_authenticated and not is_member %}
	<header style="padding-top: 100px;">
		<h1>Account Information</h1>
	</header>
	<main>
		<div class="infobox">
			<h4>Account Settings</h4>
			<button>Change Password</button>
		</div>
	</main>
	{% else %}
	<header style="padding-top: 100px;">
		<h1>Account Information</h1>
	</header>
	<main>
		<section style="text-align: center" ;>
			<h2>Please sign in or create an account to view your member profile.</h2>
		</section>
	</main>
	{% endif %}

	<footer>
		<p>Copyright © 2023 HCC Inc.</p>
	</footer>
</body>

</html>
{% endblock content %}