{% extends "base.html" %} <!--Uses base.html to generate header with link-->
{% block content %}
<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="../static/css/style.css">
	<title>The Tennis Club</title>
</head>

<body>
	<header style="padding-top: 100px;">
		<h1>Your Account Information</h1>
	</header>
	<main>
		<section style="text-align: center" ;>
			<h2>Placeholder</h2>
		</section>
	</main>

	<footer>
		<p>Copyright © 2023 HCC Inc.</p>
	</footer>
</body>

</html>
{% endblock content %}