<!DOCTYPE html>

<html>

<head>
  <link rel="stylesheet" href="../static/css/style.css">
  <title>[The Tennis Club]</title>
</head>

<body>

  <!--navbar implementation for all docs using base.html to implement-->
  <ul class="navbar_list">
    <li class="navbar"><a href="{% url 'home' %}">Home</a></li>
    <li class="navbar"><a href="{% url 'account' %}">Account</a></li>
    <li class="navbar"><a href="{% url 'reservations' %}">Reservations</a></li>
    <li class="navbar"><a href="{% url 'membership' %}">Membership</a></li>
    <li class="navbar"><a href="{% url 'directory' %}">Directory</a></li>
  {% if user.is_authenticated %}
    <li class="navbar"><a href="{% url 'logout' %}">Log Out</a></li>
  {% else %}
    <li class="navbar"><a href="{% url 'login' %}">Log In</a></li>
    <li class="navbar"><a href="{% url 'signup' %}">Sign Up</a></li>
  {% endif %}
  {% if user.is_superuser %}  
    <li class="navbar"><a href="{% url 'admin:index' %}">Admin Settings</a></li>
  {% endif %}  
  </ul>

  <!--login display for if you're logged in or not-->
  {% block login %}
  {% if user.is_authenticated %}
  <p class="login_message">Hi {{user.username}}!</p>
  {% endif %}
  {% endblock %}

</html>

{% block content %} {% endblock content %}