{% extends "base.html" %} <!--Uses base.html to generate header with link-->
{% block content %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../static/css/style.css">
	<title>The Tennis Club</title>
	</style>
</head>

<body>
    <!--If user is logged in-->
    {% if user.is_authenticated %}
	<header style="padding-top: 100px;">
		<h1>Member Directory</h1>
	</header>
	<main>
		<section style="text-align: center";>
			<br>
            <table class="table">
            <thead>
                <tr>
                <th scope="col">Last Name</th>
                <th scope="col">First Name</th>
                <th scope="col">Address</th>
                <th scope="col">Phone Number</th>
                </tr>
            </thead>
            <tbody>
                {%for profile in profiles%}
                <tr>
                <td>{{profile.last_name}}</td>
                <td>{{profile.first_name}}</td>
                <td>{{profile.address}}</td>
                <td>{{profile.phone_number}}</td>
                </tr>
                {%endfor%}
            </tbody>
            </table>
            <br>
		</section>
	</main>

    <!--Page if user not logged in-->
    {% else %}
    <header style="padding-top: 100px;">
		<h1>Member Directory</h1>
	</header>
    <main>
		<section style="text-align: center" ;>
			<h2>You must be signed in to view the directory.</h2>
		</section>
	</main>
    {% endif %}
	<footer>
		<p>Copyright © 2023 HCC Inc.</p>
	</footer>
</body>

</html>

{% endblock content %}