{% extends "base.html" %} <!--Uses base.html to generate header with link-->
{% block content %}
<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="../static/css/style.css">
	<title>The Tennis Club</title>
</head>

<body>
	<header style="padding-top: 100px;">
		<h1>Welcome to The Tennis Club</h1>
		<p>Brought to you by HCC Inc.</p>
	</header>
	<main>
		<section>
			<div class="accountbox">
				<h2>News and Updates</h2>
				<p>Welcome to the Tennis Club! This feed will keep you updated on news and updates in our club and the
					world of tennis! Stay tuned!</p>
			</div>
			<ul>
				{% for message in messages %}
				<div class="accountbox">
					<li style="font-weight: bold">{{ message.date }}, {{ message.time }} - {{ message.title }}</li>
					<p>{{ message.text }}</p>
				</div>
				{% endfor %}
			</ul>
		</section>
	</main>

	<footer>
		<p>Copyright © 2023 HCC Inc.</p>
	</footer>
</body>

</html>
{% endblock content %}