{% extends "base.html" %} <!--Uses base.html to generate header with link-->
{% block content %}
<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="../static/css/style.css">
	<title>The Tennis Club</title>
</head>

<body>
	<header style="padding-top: 100px;">
		<h1>Welcome to The Tennis Club</h1>
		<p>Brought to you by HCC Inc.</p>
	</header>
	<main>
		<section style="text-align: center";>
			<h2>News and Updates</h2>
			<ul>
				{% for message in messages %}
				<li>{{ message.text }}</li>
				{% endfor %}
			</ul>
		</section>
	</main>

	<footer>
		<p>Copyright © 2023 HCC Inc.</p>
	</footer>
</body>

</html>

{% endblock content %}