{% extends "base.html" %} <!--Uses base.html to generate header with link-->
{% block content %}
<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="../static/css/style.css">
	<title>The Tennis Club</title>
	<style>
		form {
		  background-color: white;
		  font-family: Arial;
		  text-align: center;
		  display: block;
		  margin-left: auto;
		  margin-right: auto;
		  width: 40%;
		  border: 3px solid black;
		  padding: 5px;
		}
		div {
		  text-align: center;
		  padding-top: 10
		}
	  </style>
</head>


<body>
	{% if user.is_authenticated %}
	<main>
		<div>
			<h2>Create your Profile</h2>
			<form method="post">
				{% csrf_token %}
				{{ form.as_p }}
				<button type="submit">Submit info</button>
			</form>
		</div>
	</main>

	{% else %}
	<header style="padding-top: 100px;">
		<h1>Make a Payment</h1>
	</header>
	<main>
		<section style="text-align: center" ;>
			<h2>You must be signed in to an account to register for a membership or make a payment.</h2>
		</section>
	</main>
	{% endif %}
	<footer>
		<p>Copyright © 2023 HCC Inc.</p>
	</footer>
</body>



</html>
{% endblock content %}