{% extends "base.html" %} <!--Uses base.html to generate header with link-->
{% block content %}
<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="../static/css/style.css">
	<title>The Tennis Club</title>
</head>

<body>
	{% if user.is_authenticated and not is_member %}
	<header style="padding-top: 100px;">
		<h1>Apply for Club Membership</h1>
	</header>
	<main>
		<div class="memberform">
			<h2>Create your Profile</h2>
			<form method="post">
				{% csrf_token %}
				{{ form.as_p }}
				<button type="submit">Submit info</button>
			</form>
		</div>
	</main>

	{% elif user.is_authenticated and is_member %}
	<header style="padding-top: 100px;">
		<h1>Your Membership</h1>
	</header>
	<main>
		<div class="accountbox">
			<h4>You have been a member since {{ user.date_joined }}!</h4>
		</div>
	</main>

	{% else %}
	<header style="padding-top: 100px;">
		<h1>Apply for Club Membership</h1>
	</header>
	<main>
		<section style="text-align: center" ;>
			<h2>You must be signed in to an account to register for a membership or make a payment.</h2>
		</section>
	</main>
	{% endif %}

	<footer>
		<p>Copyright © 2023 HCC Inc.</p>
	</footer>
</body>



</html>
{% endblock content %}