{% extends "base.html" %} <!--Uses base.html to generate header with link-->
{% block content %}
<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="../static/css/style.css">
	<title>The Tennis Club</title>
</head>

<body>
	{% if user.is_authenticated and is_member and not user.paymentinfo.initial_payment %}
	<header style="padding-top: 100px;">
		<h1>Club Membership Fee</h1>
	</header>
	<main>
		<div class="memberform">
			<h2>Registration Fee</h2>
			<h4>GRAND OPENING CLUB PROMOTION! 10% OFF THRU MAY 14</h4>
			<h4>Standard Fee: $1,500.00</h4>
			<h4>Discounted Fee: $1,350.00</h4>
            <h4>Your total bill: $1,350.00</h4>
			<h3>Please enter your card information or indicate check payment below</h3>
			<form method="post">
				{% csrf_token %}
				{{ form.as_p }}
                <button href="/home">I'm Paying By Check</button>
				<button type="submit">Submit info</button>
			</form>
		</div>
	</main>

	{% else %}
	<header style="padding-top: 100px;">
		<h1>Apply for Club Membership</h1>
	</header>
	<main>
		<section style="text-align: center";>
			<h2>You must be signed in to an account to make a payment.</h2>
		</section>
	</main>
	{% endif %}

	<footer>
		<p>Copyright © 2023 HCC Inc.</p>
	</footer>
</body>



</html>
{% endblock content %}