{% extends "base.html" %} <!--Uses base.html to generate header with link-->
{% block content %}
<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="../static/css/style.css">
	<link rel="stylesheet" href="../static/css/reservation.css">
	<title>The Tennis Club</title>
</head>

<body>
	<header>
		<h1>Tennis Reservation</h1>
	</header>
	{% if user.is_authenticated and is_member %}
	<main>
		<section id="available-courts">
			<h2>Available courts</h2>
			<ul id="court-list"></ul>
		</section>

		<section id="booking">
			<h2>Book a court (90 minutes)</h2>

			<form>
				<label for="date">Date:</label>
				<input type="date" id="date" name="date">

				<label for="time">Time:</label>
				<input type="time" id="time" name="time">
				<button type="submit" onclick="bookCourt()">Book</button>
			</form>			
		</section>
		
	</main>

	<footer>
		<p>&copy; 2023 Tennis Reservation. All rights reserved.</p>
	</footer>

	<script type="text/javascript">
		function bookCourt() {
			var date = document.getElementById("date").value;
			var time = document.getElementById("time").value;

			// TODO: Check if the selected court is available and add it to the list of reservations

			alert("Your reservation has been booked for " + date + " at " + time + " for 90 minutes.");
		}
	</script>

	{% elif user.is_authenticated and not is_member %}
	<main>
		<section style="text-align: center" ;>
			<h2>You must be a member of the club to make a court reservation.</h2>
		</section>
	</main>
	{%endif%}

	<footer>
		<p>Copyright © 2023 HCC Inc.</p>
	</footer>
</body>

</html>
{% endblock content %}