{% extends "base.html" %} <!--Uses base.html to generate header with link-->
{% block content %}
<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="../static/css/style.css">
	<title>The Tennis Club</title>
</head>

<body>
	<header>
		<h1>Tennis Reservation</h1>
	</header>
	{% if user.is_authenticated and is_member %}
	<main>
		<div class="memberform">
			<h2>Reserve a Court</h2>
			<form method="post">
				{% csrf_token %}
				{{ form.as_p }}
				<button type="submit">Reserve</button>
			</form>
		</div>
		<div class="memberform">
			<section>
				<br>
				<table class="table">
				<thead>
					<tr>
					<th scope="col">Name</th>
					<th scope="col">Date</th>
					<th scope="col">Time</th>
					<th scope="col">Court</th>
					</tr>
				</thead>
				<tbody>
					{%for reservation in reservations%}
					<tr>
					<td>{{reservation.user}}</td>
					<td>{{reservation.date}}</td>
					<td>{{reservation.time}}</td>
					<td>{{reservation.court}}</td>
					</tr>
					{%endfor%}
				</tbody>
				</table>
				<br>
			</section>
		</div>
	</main>

	<footer>
		<p>&copy; 2023 Tennis Reservation. All rights reserved.</p>
	</footer>

	
	{% elif user.is_authenticated and not is_member %}
	<main>
		<section style="text-align: center" ;>
			<h2>You must be a member of the club to make a court reservation.</h2>
		</section>
	</main>
	{%endif%}

	<footer>
		<p>Copyright © 2023 HCC Inc.</p>
	</footer>
</body>

</html>
{% endblock content %}