{% extends "base.html" %} <!--Uses base.html to generate header with link-->
{% block content %}
<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="../static/css/style.css">
	<title>The Tennis Club</title>
</head>

<body>
	<header>
		<h1>Tennis Reservation</h1>
	</header>
	{% if user.is_authenticated and is_member %}
	<main>
		<div class="memberform">
			<h2>Reserve a Court</h2>
			<form method="post">
				{% csrf_token %}
				<!-- {{ form.as_p }} -->
				<p>
					<label for="id_date">Date:</label>
					<input type="date" name="date" required="" id="id_date">
				</p>

				<p>
					<label for="id_time">Time:</label>
					<input type="time" name="time" required="" id="id_time" min="08:00" max="18:00">
				</p>

				<p>
					<label for="id_court">Court:</label>
					<input type="number" name="court" required="" id="id_court" min="1" max="12">
				</p>

				<p>
					<label for="id_number_of_players">Number of players:</label>
					<input type="number" name="number_of_players" required="" id="id_number_of_players" min="1" max="4">
				</p>

				<p>
					<label for="id_number_of_guests">Number of guests:</label>
					<input type="number" name="number_of_guests" required="" id="id_number_of_guests" min="0" max="3">
				</p>
				<button type="submit">Reserve</button>
			</form>
			{% if reservation_failed %}
			<script>alert("This reservation is already taken.")</script>
			{% endif %}
		</div>
		<div class="reservationdisplay">
			<section>
				<br>
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Name</th>
							<th scope="col">Date</th>
							<th scope="col">Time</th>
							<th scope="col">Court</th>
						</tr>
					</thead>
					<tbody>
						{%for reservation in reservations%}
						<tr>
							<td>{{reservation.user.memberprofile.first_name}}
								{{reservation.user.memberprofile.last_name}} </td>
							<td>{{reservation.date}}</td>
							<td>{{reservation.time}}</td>
							<td>{{reservation.court}}</td>
						</tr>
						{%endfor%}
					</tbody>
				</table>
				<br>
			</section>
		</div>
		{% for reservation in reservations %}
		{% if reservation.is_tournament %}
		<div class="memberform">
			There is a tournament on {{reservation.date}} at {{reservation.time}}!
		</div>
		{% endif %}
		{% endfor %}

	</main>

	<footer>
		<p>&copy; 2023 Tennis Reservation. All rights reserved.</p>
	</footer>


	{% elif user.is_authenticated and not is_member %}
	<main>
		<section style="text-align: center" ;>
			<h2>You must be a member of the club to make a court reservation.</h2>
		</section>
	</main>
	{%endif%}

	<footer>
		<p>Copyright © 2023 HCC Inc.</p>
	</footer>
</body>

</html>
{% endblock content %}