body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

header {
    background-color: #810000;
    color: #fff;
    padding: 25px;
    padding-top: 100px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

p {
    margin: 0;
    font-size: 18px;
    font-style: italic;
}

main {
    padding: 25px;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

h2 {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    font-size: 20px;
    margin-bottom: 10px;
}

footer {
    background-color: #810000;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
}

footer p {
    margin: 0;
    font-size: 16px;
}

/*start of css for reservations*/
section {
    background-color: #f2f2f2;
    padding: 10px;
    margin: 10px;
    flex: 1;
    min-width: 300px;
}

form {
    display: flex;
    flex-direction: row;
    flex: 1;
}

button {
	margin-left: 10px;
	padding: 15px;
}

input[type="date"],
input[type="time"],
input[type="number"],
input[type="submit"] {
    /*margin-right: 125px;*/
    margin-bottom: 10px;
    padding: 5px;
    border: none;
    border-radius: 3px;
    flex: 2;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

