<!--This is the template for the log in page-->
{% load static %}
<!DOCTYPE html>
<html>

<head>
  <style>
    .accountbox {
      border: 3px solid black;
      font-family: Arial;
      margin-left: auto;
      margin-right: auto;
      width: 40%;
      text-align: center;
      padding: 5px;
    }
  </style>
</head>
<main>
  <div class="accountbox">
    <h2>Login to Your Account</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Log In</button>
    </form>
    <br>
    Or register for an account <a class="ml-2" href="{% url 'signup' %}">Sign Up</a>
  </div>
</main>