{% block content %}

<head>
  <style>
    .accountbox {
      border: 3px solid black;
      font-family: Arial;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      text-align: left;
      padding: 5px;
    }
  </style>
</head>

<body>
  <div class="accountbox">
    <h2 class>Create an Account</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Sign Up</button>
    </form>
    Already have an account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
  </div>
</body>
{% endblock %}